body{
    margin:0;
    background-color: #ffa2c7;
    color: #40407a;
    font-family: 'Lucida Handwriting', Times, serif;
}
header{
    background-image: url("images/ValentinesBanner.jpg");
    background-size: 100% 100%;
    background-color: #ff0000;
    color: #f39ecd;
    font-size: 120%;
    min-height: 200px;
    text-align: center;
    width:95%;
    margin: auto;
    font-family: 'Lucida Handwriting', Times, serif;
}
h1{
    line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;
}
h2{
    font-size: 200%;
}
#wrapper{   
    padding: 2em;
    margin: auto;  /*Will help center the text on the screen*/
    width:80%;
    background-color: #F5F5F5;
    min-width: 1000px;
    max-width: 1280px;
}
#poem{
    padding-left: 2em;
    padding-top: 0em;
    padding-bottom: 0em;
}
#red{
    color: #ff0000;
}
#blue{
    color: #5555f5;
}